%h1 Listing users

.container
  %table#user_table.table.table-striped.table-bordered
    %thead
      %th Name
      %th Email
      %th Password digest
      %th Show
      %th Edit
      %th Destroy
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.password_digest
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New User', new_user_path
:javascript
  $(document).ready( function () {
    $('#user_table').DataTable();
  } );
