-# frozen_string_literal: true
%p#alert= alert
= simple_form_for(@user, :url => recieve_login_info_path, :method => :post) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email
    = f.input :password

  %p
  .form-actions
    = f.submit 'Login', class: 'btn btn-primary'
    = f.submit 'Register', class: 'btn btn-outline-primary'
