%h1 Listing posts

.container
  %table#post_table.table.table-striped.table-bordered
    %thead
      %th User
      %th Message
      %th Show
      %th Edit
      %th Destroy
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.user.name
          %td= post.msg
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Post', new_post_path
:javascript
  $(document).ready( function () {
    $('#post_table').DataTable();
  } );
